@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "outfit",sans-serif;
}
body{
  background:black;
}

h1,h4,p,a{

  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size:1rem;
  text-transform: uppercase;
  background:rgb(225, 44, 108);
  color: black;
  border:1px solid rgb(106, 101, 101);
  font-weight:600;
  cursor:pointer;
}
.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: rgb(100, 74, 74);
  color:rgb(244, 237, 237);
  transition:0.3s;
}